@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@300&family=Ysabeau+SC:wght@600&display=swap');

* {
    margin: 0;
    padding: 0;
    border: none;
}

body {
    font-family: Josefin Sans, sans-serif;
    font-weight: 300;
    color: #3a3a3a;
}

/* navigation links */

#menu {
    line-height: 75px;
    font-size: 110%;
    font-weight: bold;
    letter-spacing: 4px;
    background-color: white;
}

#menu li {
    float: right;
    list-style-type: none;
    margin-right: 30px;
}

#menu a {
    text-decoration: none;
    color: inherit;

}

#menu a:hover {
    border-bottom: 1px solid #3a3a3a;
}

.active {
    border-bottom: 1px solid #3a3a3a;
}

/* dropdown  menu */

.dropdown {
    position: relative;
    display: inline-block;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 100px;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
    padding: 12px 10px;
    z-index: 1;
}

.dropdown:hover .dropdown-content {
    display: block;
}

/*headings and logo*/

h1,
h2 {
    font-family: Ysabeau SC, sans-serif;
    text-transform: uppercase;
    color: #252525;
}

#logo {
    font-size: 600%;
    font-family: Ysabeau SC, sans-serif;
    text-transform: uppercase;
    text-align: center;
    position: relative;

}

.banner a {
    text-decoration: none;
    color: inherit;
}

.banner {
    font-size: 150%;
    font-family: Josefin Sans, sans-serif;
    font-weight: 300;
    color: #3a3a3a;
    text-shadow: -1px 2px 4px white;
    text-align: center;
    background-color: transparent;
    position: absolute;
    width: 100%;

}

#cover-image {
    height: 300px;
    width: 100%;
    background: url('../images/pexels-jess-loiterton-4321194.jpg') no-repeat center center;
}

#banner-outer {
    height: 320px;
    width: 100%;
    overflow: hidden;

    position: relative;
}

/* why join Breathe? */

#welcome {
    text-align: center;
    margin: 20px;
    font-size: 225%;
}

#section1 {
    font-size: 125%;
    padding-top: 20px;
    padding-bottom: 20px;
    width: 100%;
    position: relative;
}

.peace {
    position: absolute;
    text-align: left;
    margin-left: 310px;
    margin-top: 60px;
}

#section1-image {
    background: url('../images/pexels-oluremi-adebayo-2908175.jpg') no-repeat center center;
    background-size: 200%;
    height: 200px;
    width: 200px;
    border-radius: 50%;
    position: relative;
    margin-left: 60px;
    margin-top: 10px;

}

#circle-container1 {
    width: 220px;
    height: 220px;
    border-style: solid;
    border-color: #ccc;
    border-width: 1px;
    border-radius: 50%;
    position: absolute;
    margin-left: 50px;
}

#section2 {
    font-size: 125%;
    padding-top: 30px;
    padding-bottom: 30px;
    width: 100%;
    position: relative;
}

.reminders {
    position: absolute;
    text-align: left;
    margin-left: 310px;
    margin-top: 60px;
}

#section2-image {
    background: url('../images/pexels-brett-jordan-7508024.jpg') no-repeat center center;
    background-size: 200%;
    height: 200px;
    width: 200px;
    border-radius: 50%;
    position: relative;
    margin-left: 60px;
    margin-top: 10px;

}

#circle-container2 {
    width: 220px;
    height: 220px;
    border-style: solid;
    border-color: #ccc;
    border-width: 1px;
    border-radius: 50%;
    position: absolute;
    margin-left: 50px;
}

#section3 {
    font-size: 125%;
    padding-top: 30px;
    padding-bottom: 30px;
    width: 100%;
    position: relative;
}

.practices {
    position: absolute;
    margin-left: 310px;
    margin-top: 60px;
}

#section3-image {
    background: url('../images/pexels-elina-fairytale-3822906.jpg') no-repeat center center;
    background-size: 200%;
    height: 200px;
    width: 200px;
    border-radius: 50%;
    position: relative;
    margin-left: 60px;
    margin-top: 10px;

}

#circle-container3 {
    width: 220px;
    height: 220px;
    border-style: solid;
    border-color: #ccc;
    border-width: 1px;
    border-radius: 50%;
    position: absolute;
    margin-left: 50px;
}

/*social media links */

footer {
    height: 150px;
    padding: 10px;
}

.social-networks {
    text-align: center;
}

.social-networks>li {
    display: inline;
}

.social-networks i {
    font-size: 160%;
    margin: 1%;
    padding: 5%;
    color: #3a3a3a
}

/* soul page banner */

#logo-soul {
    font-size: 600%;
    font-family: Ysabeau SC, sans-serif;
    text-transform: uppercase;
    text-align: center;
    position: relative;

}

.banner-soul a {
    text-decoration: none;
    color: inherit;
}

.banner-soul {
    font-size: 150%;
    font-family: Josefin Sans, sans-serif;
    font-weight: 300;
    color: #3a3a3a;
    text-shadow: -1px 2px 4px white;
    text-align: center;
    background-color: transparent;
    position: absolute;
    width: 100%;

}

#cover-image-soul {
    height: 300px;
    width: 100%;
    background: url('../images/pexels-shvets-production-7195133.jpg') no-repeat center center;
    background-size: 100%;
}

#banner-outer-soul {
    height: 320px;
    width: 100%;
    overflow: hidden;

    position: relative;
}

/* recipe */

#recipe {
    padding: 10px;
    margin: 10px;
    width: 100%;
    height: 100%;
}

#recipe-instruction {
    padding-top: 30px;
    width: 50%;
    float: right;
    font-size: 150%;
    list-style-position: inside;
}

.ingredients {
    width: 100%;
    float: left;
    line-height: 40px;
    clear: both;
    margin-bottom: 30px;
}


.steps {
    width: 80%;
    float: left;
    line-height: 40px;
    clear: both;
}

/*recipe image */

#recipe-image {
    padding-top: 160px;
    padding-left: 30px;
    width: 40%;
    height: 100%;
    float: left;
}

#recipe-image-bg {
    background: url('../images/pexels-alisha-mishra-1346347.jpg') no-repeat center center;
    background-size: 75%;
    height: 400px;

}

/* body page */

#logo-body {
    font-size: 600%;
    font-family: Ysabeau SC, sans-serif;
    text-transform: uppercase;
    text-align: center;
    position: relative;

}

.banner-body a {
    text-decoration: none;
    color: inherit;
}

.banner-body {
    font-size: 150%;
    font-family: Josefin Sans, sans-serif;
    font-weight: 300;
    color: #3a3a3a;
    text-shadow: -1px 2px 4px white;
    text-align: center;
    background-color: transparent;
    position: absolute;
    width: 100%;

}

#cover-image-body {
    height: 300px;
    width: 100%;
    background: url('../images/pexels-elina-fairytale-3822672.jpg') no-repeat center center;
    background-size: 100%;
}

#banner-outer-body {
    height: 320px;
    width: 100%;
    overflow: hidden;

    position: relative;
}

/* body page content */

.equipment {
    padding-top: 30px;
    width: 30%;
    float: left;
    margin-left: 30px;
    font-size: 150%;
    line-height: 40px;
    list-style-position: inside;
}

.positions {
    padding-top: 30px;
    width: 30%;
    float: right;
    margin-right: 30px;
    font-size: 150%;
    line-height: 40px;
    list-style-position: inside;
}

#yoga-routine {
    width: 100%;
    padding-top: 30px;
}

.yoga-video {
    text-align: center;
}

/* mind page */

#logo-mind {
    font-size: 600%;
    font-family: Ysabeau SC, sans-serif;
    text-transform: uppercase;
    text-align: center;
    position: relative;

}

.banner-mind a {
    text-decoration: none;
    color: inherit;
}

.banner-mind {
    font-size: 150%;
    font-family: Josefin Sans, sans-serif;
    font-weight: 300;
    color: #3a3a3a;
    text-shadow: -1px 2px 4px white;
    text-align: center;
    background-color: transparent;
    position: absolute;
    width: 100%;

}

#cover-image-mind {
    height: 300px;
    width: 100%;
    background: url('../images/pexels-yogendra-singh-4324492.jpg') no-repeat center center;
    background-size: 100%;
}

#banner-outer-mind {
    height: 320px;
    width: 100%;
    overflow: hidden;

    position: relative;
}

/* mindfullness introduction */

#mindfullness-description {
    height: 200px;
    width: 100%;
    margin: auto;
    text-align: center;
    font-size: 150%;
}

/* mind table */

#image-table {
    width: 100%;
    height: 600px;
    border-width: thick;
    line-height: 40px;
    list-style-position: inside;
}

#image-table>p {
    padding: 50px;
}

.doodles {
    background: url('../images/pexels-alena-koval-820673.jpg') no-repeat center center;
    width: 33%;
    background-size: 100%;
    height: 200px;
}

.meditation {
    background: url('../images/pexels-ketut-subiyanto-4909325.jpg') no-repeat center center;
    width: 33%;
    background-size: 100%;
    height: 200px;
}

.walk {
    background: url('../images/pexels-lachlan-ross-5967867.jpg') no-repeat center center;
    width: 33%;
    background-size: 100%;
    height: 200px;
}

.left-practice {
    width: 33%;
    height: 300px;
    vertical-align: text-top;
    font-size: 150%;
}

.center-practice {
    width: 33%;
    height: 300px;
    vertical-align: text-top;
    font-size: 150%;
}

.right-practice {
    width: 33%;
    height: 300px;
    vertical-align: text-top;
    font-size: 150%;
}

/*mind for smaller screens*/

#meditation-small {
    padding-top: 20px;
}

#doodles-small {
    font-size: 140%;
    line-height: 40px;
    padding-top: 20px;
    padding-bottom: 20px;
    width: 100%;
}

.doodles-image {
    background: url('../images/pexels-alena-koval-820673.jpg') no-repeat center center;
    background-size: 100%;
    height: 200px;
    width: 100%;
    margin-left: 0;
    margin-top: 10px;
}

.doodles-text {
    margin-left: 30px;
    margin-top: 60px;
    width: 80%;
    list-style-position: inside;
}

#meditation-small {
    font-size: 140%;
    line-height: 40px;
    padding-top: 20px;
    padding-bottom: 20px;
    width: 100%;
}

.meditation-image {
    background: url('../images/pexels-ketut-subiyanto-4909325.jpg') no-repeat center center;
    background-size: 100%;
    height: 200px;
    width: 100%;
    margin-left: 0;
    margin-top: 10px;
}

.meditation-text {
    margin-left: 30px;
    margin-top: 60px;
    width: 80%;
}

#walk-small {
    font-size: 140%;
    line-height: 40px;
    padding-top: 20px;
    padding-bottom: 20px;
    width: 100%;
}

.walk-image {
    background: url('../images/pexels-lachlan-ross-5967867.jpg') no-repeat center center;
    background-size: 100%;
    height: 200px;
    width: 100%;
    margin-left: 0;
    margin-top: 10px;
}

.walk-text {
    margin-left: 30px;
    margin-top: 60px;
    width: 80%;
    list-style-position: inside;
}

/* Subscribe */

#form-section-outer {
    height: 920px;
    width: 100%;
    overflow: hidden;
    position: relative;
}

.form-section {
    clear: left;
    background: url('../images/pexels-marcus-aurelius-6787218.jpg') no-repeat center center;
    background-size: 100%;
    height: 900px;
    width: 100%;
}

.signup-form {
    margin: 150px 10% 0 0;
    color: #fff;
    background-color: rgba(60, 60, 60, 0.6);
    max-width: 400px;
    position: absolute;
    left: 10%;
    padding: 30px;
}

.signup-form>h2 {
    color: #fafafa;
    margin-bottom: 20px;
}

.text-input {
    background: transparent;
    color: #fafafa;
    width: 100%;
    height: 25px;
    margin: 5px 0 20px;
    border: 1px solid #fafafa;
    border-radius: 2px;
}

.text-input:hover {
    border-color: rgba(115, 151, 234, 0.8);
}

.join-button {
    margin-top: 20px;
    border-radius: 2px;
    padding: 15px 32px;
    text-align: center;
    font-size: 100%;
    background-color: rgb(233, 230, 230);
    color: black;
    font-family: Ysabeau SC, sans-serif;
    display: block;
}

.join-button:hover {
    background-color: #fafafa;
    color: #f16c6b;
}

/* media queries */
/* for larger to medium screens size from 1200px wide and down */
@media screen and (max-width: 1200px) {

    /*mind*/

    #image-table {
        visibility: visible;
    }

}

@media screen and (min-width: 950px) {
    #mind-smallscreen {
        visibility: hidden;
    }
}

/* for medium screen sizes from 950px wide and down */
@media screen and (max-width: 950px) {

    /*home page*/
    #banner-outer {
        font-size: 75%;
    }

    #welcome {
        font-size: 150%;
    }

    #section1 {
        margin-left: 10px;
        width: 90%;
        margin-top: 25px;
    }

    #section1-image {
        width: 150px;
        height: 150px;
        margin-left: 45px;
        margin-top: 30px;
    }

    #circle-container1 {
        width: 160px;
        height: 160px;
        margin-left: 40px;
        margin-top: 25px;
    }

    .peace {
        margin-left: 280px;
        margin-top: 40px;
    }

    #section2 {
        font-size: 125%;
        margin-left: 10px;
        width: 90%;
        margin-top: 25px;
    }

    #section2-image {
        width: 150px;
        height: 150px;
        margin-left: 45px;
        margin-top: 30px;
    }

    #circle-container2 {
        width: 160px;
        height: 160px;
        margin-left: 40px;
        margin-top: 25px;
    }

    .reminders {
        margin-left: 280px;
        margin-top: 40px;
    }

    #section3 {
        font-size: 125%;
        margin-left: 10px;
        width: 90%;
        margin-top: 25px;
        margin-bottom: 30px;
        padding-bottom: 30px;
    }

    #section3-image {
        width: 150px;
        height: 150px;
        margin-left: 45px;
        margin-top: 30px;
    }

    #circle-container3 {
        width: 160px;
        height: 160px;
        margin-left: 40px;
        margin-top: 25px;
    }

    .practices {
        margin-left: 280px;
        margin-top: 40px;
    }

    footer {
        height: 50px;
    }

    /* mind */
    #image-table {
        display: none;
    }

    /*body page*/

    #cover-image-body {
        background-size: 100%;
    }

    .equipment {
        width: 90%;
    }

    .positions {
        width: 90%;
        margin-left: 30px;
        margin-right: auto;
        float: left;
    }

    /*soul*/

    #recipe-instruction {
        width: 90%;
        font-size: 150%;
        list-style-position: inside;
        margin-right: 10px;
    }

    .ingredients {
        width: 90%;
        float: left;
        line-height: 40px;
        clear: both;
        margin-bottom: 30px;
        margin-right: 10px;
    }


    .steps {
        width: 90%;
        float: left;
        line-height: 40px;
        clear: both;
        margin-right: 10px;
    }

    /*recipe image */

    #recipe-image {
        width: 100%;
        height: 100%;
        position: relative;
        padding-top: 10px;
        padding-left: 10px;
    }

    #recipe-image-bg {
        background: url('../images/pexels-alisha-mishra-1346347.jpg') no-repeat center center;
        background-size: 75%;

    }

    /*subscribe*/

    .form-section {
        background-size: 175%;
    }

}

/*For small screen sizes 800px and down */
@media screen and (max-width: 800px) {

    /*home page*/

    #logo {
        font-size: 400%;
    }

    #cover-image {
        height: 200px;
    }

    #banner-outer {
        height: 220px;
    }

    #banner-outer {
        font-size: 75%;
    }

    #welcome {
        font-size: 125%;
    }

    #section1 {
        font-size: 100%;
        margin-left: 10px;
        width: 90%;
        margin-top: 5px;
        height: 300px;
    }

    #section1-image {
        width: 150px;
        height: 150px;
        margin-left: 45px;
        margin-top: 20px;
    }

    #circle-container1 {
        width: 160px;
        height: 160px;
        margin-left: 40px;
        margin-top: 15px;
    }

    .peace {
        margin-left: 40px;
        margin-top: 200px;
    }

    #section2 {
        font-size: 100%;
        margin-left: 10px;
        width: 90%;
        margin-top: 5px;
        height: 300px;
    }

    #section2-image {
        width: 150px;
        height: 150px;
        margin-left: 45px;
        margin-top: 20px;
    }

    #circle-container2 {
        width: 160px;
        height: 160px;
        margin-left: 40px;
        margin-top: 15px;
    }

    .reminders {
        margin-left: 40px;
        margin-top: 200px;
    }

    #section3 {
        font-size: 100%;
        margin-left: 10px;
        width: 90%;
        margin-top: 5px;
        margin-bottom: 30px;
        padding-bottom: 30px;
        height: 300px;
    }

    #section3-image {
        width: 150px;
        height: 150px;
        margin-left: 45px;
        margin-top: 20px;
    }

    #circle-container3 {
        width: 160px;
        height: 160px;
        margin-left: 40px;
        margin-top: 15px;
    }

    .practices {
        margin-left: 40px;
        margin-top: 200px;
    }

    footer {
        height: 50px;
    }

    /*body page*/

    #cover-image-body {
        height: 200px;
    }

    #banner-outer-body {
        height: 220px;
    }

    #logo-body {
        font-size: 400%;
    }

    #cover-image-body {
        background-size: 200%;
    }

    #yoga-route {
        width: 90%;
    }

    .equipment {
        width: 80%;
        margin-right: 30px;
    }

    .positions {
        width: 80%;
        margin-left: 30px;
        margin-right: auto;
        float: left;
    }

    .yoga-video {
        width: 90%;
    }

    .video {
        width: 80%;
        height: 80%;

    }

    /*mind page*/

    #cover-image-mind {
        height: 200px;
    }

    #banner-outer-mind {
        height: 220px;
    }

    #logo-mind {
        font-size: 400%;
    }

    #image-table {
        visibility: hidden;
    }

    #mind-smallscreen {
        visibility: visible;
    }

    #mindfullness-description {
        font-size: 125%;
        width: 90%;
        height: 150px;
    }

    /*soul*/

    #logo-soul {
        font-size: 400%
    }

    #banner-outer-soul {
        height: 220px;
    }

    #cover-image-soul {
        background-size: 200%;
        height: 200px;
    }

    /* recipe */

    #recipe {
        padding: 10px;
        margin: 10px;
        width: 90%;
        height: 100%;
    }


    #recipe-instruction {
        width: 95%;
        font-size: 150%;
        list-style-position: inside;
    }

    .ingredients {
        width: 95%;
        float: left;
        line-height: 40px;
        clear: both;
        margin-bottom: 30px;
    }


    .steps {
        width: 95%;
        float: left;
        line-height: 40px;
        clear: both;
    }

    /*recipe image */

    #recipe-image {
        display: none;
    }

    /*subscribe*/

    .form-section {
        background-size: 350%;
    }

}