@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@300&family=Ysabeau+SC:wght@600&display=swap');

* {
    margin: 0;
    padding: 0;
    border: none;
}

body {
    font-family: Josefin Sans, sans-serif;
    font-weight: 300;
    color: #3a3a3a;
}

/* navigation links */

#menu {
    line-height: 75px;
    font-size: 110%;
    font-weight: bold;
    letter-spacing: 4px;
    background-color: white;
}

#menu li {
    float: right;
    list-style-type: none;
    margin-right: 30px;
}

#menu a {
    text-decoration: none;
    color: inherit;

}

#menu a:hover {
    border-bottom: 1px solid #3a3a3a;
}

.active {
    border-bottom: 1px solid #3a3a3a;
}

/*headings and logo*/

h1,
h2 {
    font-family: Ysabeau SC, sans-serif;
    text-transform: uppercase;
    color: #252525;
}

#logo {
    font-size: 500%;
    font-family: Ysabeau SC, sans-serif;
    text-transform: uppercase;
    text-align: center;
    position: relative;

}

.banner a {
    text-decoration: none;
    color: inherit;
}

.banner {
    font-size: 150%;
    font-family: Josefin Sans, sans-serif;
    font-weight: 300;
    color: #3a3a3a;
    text-align: center;
    background-color: transparent;
    position: absolute;
    width: 100%;

}

#cover-image {
    height: 300px;
    width: 100%;
    background: url('../images/pexels-jess-loiterton-4321194.jpg') no-repeat center center;
}

#banner-outer {
    height: 320px;
    width: 100%;
    overflow: hidden;

    position: relative;
}