@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@300&family=Ysabeau+SC:wght@600&display=swap');

* {
    margin: 0;
    padding: 0;
    border: none;
}

body {
    font-family: Josefin Sans, sans-serif;
    font-weight: 300;
    color: #3a3a3a;
}

/* navigation links */

#menu {
    line-height: 75px;
    font-size: 110%;
    font-weight: bold;
    letter-spacing: 4px;
    background-color: white;
}

#menu li {
    float: right;
    list-style-type: none;
    margin-right: 30px;
}

#menu a {
    text-decoration: none;
    color: inherit;

}

#menu a:hover {
    border-bottom: 1px solid #3a3a3a;
}

.active {
    border-bottom: 1px solid #3a3a3a;
}

/* dropdown  menu */

.dropdown {
    position: relative;
    display: inline-block;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 100px;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
    padding: 12px 10px;
    z-index: 1;
}

.dropdown:hover .dropdown-content {
    display: block;
}

/*headings and logo*/

h1,
h2 {
    font-family: Ysabeau SC, sans-serif;
    text-transform: uppercase;
    color: #252525;
}

#logo {
    font-size: 600%;
    font-family: Ysabeau SC, sans-serif;
    text-transform: uppercase;
    text-align: center;
    position: relative;

}

.banner a {
    text-decoration: none;
    color: inherit;
}

.banner {
    font-size: 150%;
    font-family: Josefin Sans, sans-serif;
    font-weight: 300;
    color: #3a3a3a;
    text-shadow: -1px 2px 4px white;
    text-align: center;
    background-color: transparent;
    position: absolute;
    width: 100%;

}

#cover-image {
    height: 300px;
    width: 100%;
    background: url('../images/pexels-jess-loiterton-4321194.jpg') no-repeat center center;
}

#banner-outer {
    height: 320px;
    width: 100%;
    overflow: hidden;

    position: relative;
}

/* why join Breathe? */

#welcome {
    text-align: center;
    margin: 20px;
    font-size: 225%;
}

#section1 {
    font-size: 125%;
    padding-top: 20px;
    padding-bottom: 20px;
    width: 100%;
    position: relative;
}

.peace {
    position: absolute;
    text-align: left;
    margin-left: 310px;
    margin-top: 60px;
}

#section1-image {
    background: url('../images/pexels-oluremi-adebayo-2908175.jpg') no-repeat center center;
    background-size: 200%;
    height: 200px;
    width: 200px;
    border-radius: 50%;
    position: relative;
    margin-left: 60px;
    margin-top: 10px;

}

#circle-container1 {
    width: 220px;
    height: 220px;
    border-style: solid;
    border-color: #ccc;
    border-width: 1px;
    border-radius: 50%;
    position: absolute;
    margin-left: 50px;
}

#section2 {
    font-size: 125%;
    padding-top: 30px;
    padding-bottom: 30px;
    width: 100%;
    position: relative;
}

.reminders {
    position: absolute;
    text-align: left;
    margin-left: 310px;
    margin-top: 60px;
}

#section2-image {
    background: url('../images/pexels-brett-jordan-7508024.jpg') no-repeat center center;
    background-size: 200%;
    height: 200px;
    width: 200px;
    border-radius: 50%;
    position: relative;
    margin-left: 60px;
    margin-top: 10px;

}

#circle-container2 {
    width: 220px;
    height: 220px;
    border-style: solid;
    border-color: #ccc;
    border-width: 1px;
    border-radius: 50%;
    position: absolute;
    margin-left: 50px;
}

#section3 {
    font-size: 125%;
    padding-top: 30px;
    padding-bottom: 30px;
    width: 100%;
    position: relative;
}

.practices {
    position: absolute;
    margin-left: 310px;
    margin-top: 60px;
}

#section3-image {
    background: url('../images/pexels-elina-fairytale-3822906.jpg') no-repeat center center;
    background-size: 200%;
    height: 200px;
    width: 200px;
    border-radius: 50%;
    position: relative;
    margin-left: 60px;
    margin-top: 10px;

}

#circle-container3 {
    width: 220px;
    height: 220px;
    border-style: solid;
    border-color: #ccc;
    border-width: 1px;
    border-radius: 50%;
    position: absolute;
    margin-left: 50px;
}

/*social media links */

footer {
    height: 150px;
}

.social-networks {
    text-align: center;
}

.social-networks>li {
    display: inline;
}

.social-networks i {
    font-size: 160%;
    margin: 1%;
    padding: 5%;
    color: #3a3a3a
}

/* soul page banner */

#logo-soul {
    font-size: 600%;
    font-family: Ysabeau SC, sans-serif;
    text-transform: uppercase;
    text-align: center;
    position: relative;

}

.banner-soul a {
    text-decoration: none;
    color: inherit;
}

.banner-soul {
    font-size: 150%;
    font-family: Josefin Sans, sans-serif;
    font-weight: 300;
    color: #3a3a3a;
    text-shadow: -1px 2px 4px white;
    text-align: center;
    background-color: transparent;
    position: absolute;
    width: 100%;

}

#cover-image-soul {
    height: 300px;
    width: 100%;
    background: url('../images/pexels-shvets-production-7195133.jpg') no-repeat center center;
    background-size: 100%;
}

#banner-outer-soul {
    height: 320px;
    width: 100%;
    overflow: hidden;

    position: relative;
}

/* recipe */

#recipe {
    padding: 10px;
    width: 100%;
    height: 100%;
}

#recipe-instruction {
    padding-top: 30px;
    width: 50%;
    float: right;
    font-size: 150%;
}

.ingredients {
    width: 100%;
    float: left;
    line-height: 20px;
    clear: both;
    margin-bottom: 30px;
}


.steps {
    width: 80%;
    float: left;
    line-height: 20px;
    clear: both;
}

/*recipe image */

#recipe-image {
    padding-top: 30px;
    padding-left: 30px;
    width: 40%;
    height: 100%;
    float: left;
}

#recipe-image-bg {
    background: url('../images/pexels-alisha-mishra-1346347.jpg') no-repeat center center;
    background-size: 75%;
    height: 400px;

}

/* body page */

#logo-body {
    font-size: 600%;
    font-family: Ysabeau SC, sans-serif;
    text-transform: uppercase;
    text-align: center;
    position: relative;

}

.banner-body a {
    text-decoration: none;
    color: inherit;
}

.banner-body {
    font-size: 150%;
    font-family: Josefin Sans, sans-serif;
    font-weight: 300;
    color: #3a3a3a;
    text-shadow: -1px 2px 4px white;
    text-align: center;
    background-color: transparent;
    position: absolute;
    width: 100%;

}

#cover-image-body {
    height: 300px;
    width: 100%;
    background: url('../images/pexels-elina-fairytale-3822672.jpg') no-repeat center center;
    background-size: 100%;
}

#banner-outer-body {
    height: 320px;
    width: 100%;
    overflow: hidden;

    position: relative;
}

/* body page content */

.equipment {
    padding-top: 30px;
    width: 30%;
    float: left;
    margin-left: 30px;
    font-size: 150%
}

.positions {
    padding-top: 30px;
    width: 30%;
    float: right;
    margin-right: 30px;
    font-size: 150%
}

#yoga-routine {
    padding-top: 30px;
}

.yoga-video {
    text-align: center;

}

/* Subscribe */

#form-section-outer {
    height: 920px;
    width: 100%;
    overflow: hidden;
    position: relative;
}

.form-section {
    clear: left;
    background: url('../images/pexels-marcus-aurelius-6787218.jpg') no-repeat center center;
    background-size: 100%;
    height: 900px;
    width: 100%;
}

.signup-form {
    margin: 150px 10% 0 0;
    color: #fff;
    background-color: rgba(60, 60, 60, 0.6);
    max-width: 400px;
    position: absolute;
    left: 10%;
    padding: 30px;
}

.signup-form>h2 {
    color: #fafafa;
    margin-bottom: 20px;
}

.text-input {
    background: transparent;
    color: #fafafa;
    width: 100%;
    height: 25px;
    margin: 5px 0 20px;
    border: 1px solid #fafafa;
    border-radius: 2px;
}

.text-input:hover {
    border-color: #f16c6b;
}

.join-button {
    margin-top: 20px;
    border-radius: 2px;
    padding: 15px 32px;
    text-align: center;
    font-size: 100%;
    background-color: #f16c6b;
    color: #fafafa;
    display: block;
}

.join-button:hover {
    background-color: #fafafa;
    color: #f16c6b;
}